.header{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  color: white;
  justify-content: center;
  flex-direction: row;
  padding-top: 20px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
}

/* Header items */
.menu, .home{
  margin-right: 10px;
  margin-left: 10px;
  font-family: "Bitcount Single", sans-serif;
  font-size: large;
  cursor: pointer;
  transition: transform 0.2s ease;
  text-decoration: none;
  color: white;
}

.menu:hover, .home:hover{
  transform: scale(1.05);
}
