.header{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  color: white;
  justify-content: center;
  flex-direction: row;
  z-index: 100;
  background-color: black;
}

.menu, .home{
  margin-right: 10px;
  margin-left: 10px;
  font-family: Bitcount Single;
  font-size: large;
  cursor: pointer;
}

.menu:hover, .home:hover{
  font-size: larger;
}
