/*Background - Start*/
/*Fixing the video to the screen*/
.background-video {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;  
  object-position: center;
  z-index: -2;
}

/*Preventing horizontal scroll*/
html, body {
  width: 100%;
  overflow-x: hidden;  
}

body{
  background-color: black; /*Fall back color*/
}
/*Background - End*/

/*Name - Start*/
.name-place {
  display: flex;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  height: 250px;
  align-items: center;
  justify-content: center;
}

.name{
  color: white;
  font-family: Bitcount Single;
  font-size: 100px;
}
/*Name - End*/

/*Description & Photo*/
.dnp-grid{
  display: flex;
  /*background-color: rgba(133, 133, 133, 0.2);*/
  position: absolute;
  top: 300px;
  left: 200px;
  right: 200px;
  height: 200px;
  border: none;
  border-radius: 5px;
}

.photo-box{
  display: flex;
  border-right: solid;
  border-width: 1px;
  border-color: rgba(133, 133, 133, 0.5);
}

.profile-picture{
  width: 175px;
  margin: 15px;
  border: none;
  border-radius: 88px;
}

.description-box{
  display: flex;
  color: white;
  font-family: Bitcount Single;
  background-color: pink;
}



